# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test Backend Server

on:
  push:
    branches: [ main ]
    paths:
        - 'server/**'
  pull_request:
    branches: [ main ]
    paths:
        - 'server/**'

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
       run:
         working-directory: server/

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
        cache: pip
        cache-dependency-path: server/
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest-cov
    - name: Generate coverage report
      run: pytest --cov=./ --cov-report=xml
      env:
        JWT_SECRET_KEY: ${{ github.sha }}
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        working-directory: server/
